<!doctype html>
{{> partials/header }}
{{#entreprise}}
<h1 class="is-size-3 has-text-centered my-2 title">Details de l'entreprise {{rs}}</h1>
<div class="is-flex container is-justify-content-space-around has-background-light">
    <div>
        <div>
            Raison sociale : {{rs}}
        </div>
        <div>
            Adresse : {{adresse}}
        </div>
        <div>
            Code Postal : {{cp}}
        </div>
        <div>
            Ville : {{ville}}
        </div>
        <div>
            Téléphone : {{tel}}
        </div>
        <div>
            Email : {{email}}
        </div>
    </div>
    <div>
        <div>
            <h3>Offres disponibles pour cette entreprise</h3>
            <!--Inserer liste des offres ici-->
        </div>
        <div class="is-flex is-justify-content-space-between">
            <!--Mettre les liens correspondant aux offres ici-->
            <button class="button is-dark mg-small my-1">Ajouter une offre</button>
            <button class="button is-dark mg-small my-1">Modifier une offre</button>
            <button class="button is-dark mg-small my-1">Supprimer une offre</button>
        </div>
    </div>
</div>
{{/entreprise}}
{{^entreprise}}
    <div class="has-text-danger">Entreprise inexistante</div>
{{/entreprise}}


{{> partials/footer }}