{{> partials/header }}
<h1 class ="is-size-3 has-text-centered my-2">Ajout d'une entreprise</h1>
<form class="is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-flex is-flex-direction-column" method="post" action="/entrep/new">
    {{#entrep}}
        <input class="input is-normal mg-small" type="text" name="rs" placeholder="Raison sociale" required><br>
        <input class="input is-normal mg-small" type="email" name="email" placeholder="Email"><br>
        <input class="input is-normal mg-small" type="tel" name="tel" placeholder="Téléphone"><br>
        <input class="input is-normal mg-small" type="text" name="adresse" placeholder="Adresse"><br>
        <input class="input is-normal mg-small" type="text" name="ville" placeholder="Ville"><br>
        <input class="input is-normal mg-small" type="text" name="cp" placeholder="Code postal"><br>
        <button class="button is-dark mg-small my-1" type="submit">Valider</button>
        <input class="button is-dark mg-small my-1" type="reset">
    {{/entrep}}
</form>
<a href="/entrep"><- Retour</a>
{{> partials/footer }}