{{> partials/header }}
{{#error}}
    <div style="color: red">{{error}}</div>
{{/error}}
<h1 class ="is-size-3 has-text-centered my-2">Ajout d'une entreprise</h1>
<form class="is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-flex is-flex-direction-column" method="post" action="/entrep/new">
    {{#entrep}}
        <input id="input_rs" class="input is-normal mg-small" type="text" name="rs" placeholder="Raison sociale" required><br>
        <input class="input is-normal mg-small" type="email" name="email" placeholder="Email" value="{{#email}}{{email}}{{/email}}"><br>
        <input class="input is-normal mg-small" type="tel" name="tel" placeholder="Téléphone" pattern="[0-9]{10}" value="{{#tel}}{{tel}}{{/tel}}"><br>
        <input id="input_adresse" class="input is-normal mg-small" type="text" name="adresse" placeholder="Adresse" value="{{#adresse}}{{adresse}}{{/adresse}}"><br>
        <input id="input_ville" list="list_ville" class="input is-normal mg-small" type="text" name="ville" placeholder="Ville" value="{{#ville}}{{ville}}{{/ville}}"><br>
        <datalist id="list_ville"></datalist>
        <input id="input_cp" class="input is-normal mg-small" type="text" name="cp" placeholder="Code postal" value="{{#cp}}{{cp}}{{/cp}}"><br>
        <button class="button is-dark mg-small my-1" type="submit">Valider</button>
        <input class="button is-dark mg-small my-1" type="reset">
    {{/entrep}}
</form>
<div id="container_entreps">
    Entreprises déjà existantes :
    <ul id="entreps">

    </ul>
</div>
<a href="/entrep"><- Retour</a>

{{> partials/footer }}

<script>
    document.getElementById("input_cp").addEventListener("input", function () {
        let input_ville = document.getElementById("input_ville");
        if (input_ville.value !="") return;
        fetch("https://geo.api.gouv.fr/communes?codePostal=" + this.value + "&fields=codesPostaux&format=json&geometry=centre").then(async function (reponse) {
            let result = await reponse.json();
            if (result.length > 1) {
                let list = document.getElementById("list_ville");
                let options = '';

                for (let i = 0; i < result.length; i++) {
                    if (i == 0) {
                        options += '<option selected value="' + result[i]['nom'] + '" />';
                        continue;
                    }
                    options += '<option value="' + result[i]['nom'] + '" />';
                }
            }
            input_ville.value = result[0]['nom'];
            list.innerHTML = options;
        });
    });

    document.getElementById('input_rs').addEventListener('input', function(){
        let contenu = document.getElementById("input_rs").value;

        //Création d'une requete au serveur pour afficher les entreprises
        fetch("/entrep/rs?contenu=" + encodeURIComponent(contenu)).then(async function (response) {
            let list = document.getElementById("entreps")
            if (response.status === 200) {
                let entreprises = await response.json();
                if (entreprises.size == "[]") {
                    list.innerHTML = "Pas d'entreprises trouvées";
                } else {
                    list.innerHTML = "";
                    //Création de la liste
                    entreprises.forEach(function (entreprise) {
                        let li = document.createElement("li");
                        let a = document.createElement("a");
                        a.href = "/entrep/details?rs=" + entreprise.rs;
                        a.textContent = entreprise.rs;
                        li.appendChild(a);
                        list.appendChild(li);
                    });
                }
            } else {
                list.innerHTML = "Erreur lors de la requete";
            }
        });
    });
</script>