<!doctype html>
{{> partials/header }}
<h1 class ="is-size-3 has-text-centered my-2">Entreprises</h1>
<div class="ids-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-flex is-flex-direction-column">

    <a class="button is-dark" href="/entrep/new">Ajouter une entreprise</a>

    <table class="table is-bordered is-striped is-narrow is-hoverable  ">

        {{#entreprises}}
        <tr>
            <td>{{rs}} - {{email}}</td>
        </tr>
        {{/entreprises}}
    </table>
</div>





<ul>

    {{^entreprises}}
        <li>Aucune entreprise existante</li>
    {{/entreprises}}
</ul>
{{> partials/footer }}
