.checkbox_container {
    display: flex;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1%;
}

#toggl_formation {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggl_circle {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 25px;
    background: grey;
    display: block;
    border-radius: 25px;
    position: relative;
    margin-right: 1%;
}

.toggl_circle:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 23px;
    height: 23px;
    background: #fff;
    border-radius: 45px;
    transition: 0.3s;
}

input:checked + .toggl_circle {
    background: #bada55;
}

input:checked + label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.toggl_circle:active:after {
    width: 32px;
}

.candidat_row:hover {
    background: #808080 !important;
    color: white;
    cursor: pointer;
}

.formation_row {
    background: #a6a6a6;
}